version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: jira-clone_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: jira-clone
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: jira-clone_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
